footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section__show-data {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.01em;
	color: $footer-txt-color;
}

.tui-more {
	display: none;
}
.tui-page-btn {
	display: none;
}
.tui-page-btn.show {
	display: inline-block;
}
