@import "../config/mixins.scss";

footer {
	padding-top: 30px;

	@include viewport-desktop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 15px;
	}
}

.footer__show-data {
	margin-bottom: 20px;
	text-align: center;
	color: $footer-txt-color;

	@include viewport-desktop {
		margin-bottom: 0;
	}
}

.tui-more {
	display: none;
}
.tui-page-btn {
	display: none;
}
.tui-page-btn.show {
	display: inline-block;
}
