@import "../config/mixins.scss";

.table-container {
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;

	@include viewport-desktop {
		overflow: visible;
		overflow-x: visible;
		white-space: normal;
	}
}

table {
	position: relative;
	width: 100%;
	margin-bottom: 3px;

	@include viewport-desktop {
		margin-bottom: 0;
	}
}

thead::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 69px;
	left: -40px;
	background-color: $table-delimiter-color;

	@include viewport-desktop {
		width: 968px;
	}
}

tr {
	height: 69px;
}

@include viewport-desktop {
	@for $i from 1 through 5 {
		th:nth-child(#{$i}),
		td:nth-child(#{$i}) {
			width: nth((172px, 131px, 156px, 207px, 152px), $i);
		}
	}
}

th {
	position: relative;
	vertical-align: middle;
	color: $table-header-txt-color;
	text-align: start;

	@include viewport-desktop {
		position: static;
	}
}

td {
	@extend th;
	color: $table-txt-color;
	border-bottom: 1px solid $table-delimiter-color;
}

.table__cell-status {
	text-align: center;
}

.table__cell-status-marker {
	display: block;
	width: 80px;
	height: 29px;
	line-height: 29px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	border-radius: 4px;
	text-align: center;

	&.table__status--active {
		border-color: $status-active-border-color;
		background-color: $status-active-bg-color;
		color: $status-active-txt-color;
	}

	&.table__status--inactive {
		border-color: $status-inactive-border-color;
		background-color: $status-inactive-bg-color;
		color: $status-inactive-txt-color;
	}
}

th:not(:last-child),
td:not(:last-child) {
	padding-left: 15px;
	padding-right: 15px;
}

th:last-child,
td:last-child {
	position: sticky;
	padding-left: 20px;
	right: 0;
	background: #ffffff;
}

@include viewport-desktop {
	th:not(:last-child),
	td:not(:last-child) {
		padding-left: 0;
		padding-right: 0;
	}

	th:last-child,
	td:last-child {
		position: static;
		padding-left: 0;
		z-index: 0;
	}
}
