section.section
	.section__table-top
		div
			h2.section__name All Customers
			p.section__desc Active Members
	
		include search-input
	include table

	footer

		p.section__show-data Showing data 1 to 8 of  256K entries

		.pagination-wrapper
			.tui-pagination#pagination