@import "../config/mixins.scss";

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;

	width: 100%;
	max-width: 430px;
	margin: 0 auto;
	padding: 0 15px;

	@include viewport-desktop {
		max-width: 1440px;
		// padding: 0 91px;
	}

	background-color: #fff;
	color: #292d32;
	font-family: "Poppins", sans-serif;
	// font-weight: 500;
	// font-size: 14px;
	// text-align: center;
}

.container {
	width: 100%;
	max-width: 430px;
	margin: 0 auto;
	padding: 0 15px;

	@include viewport-desktop {
		max-width: 1440px;
		padding: 0 91px;
	}
}
