@import "../config/mixins.scss";

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.01em;
	background-color: #000000;
}

.container {
	width: 100%;
	max-width: 430px;
	margin: 0 auto;
	padding: 0;

	@include viewport-desktop {
		max-width: 1440px;
	}
}
